.oauth-button.naver .label, .oauth-button.naver-white .label {
    display: none;
    border-left: 1px solid;
}

.oauth-button.naver-white .label {
    color: #999999;
    border-color: #d7d7d7;
}

.oauth-button.naver .label {
    border-color: inherit;
}

.oauth-button.naver, .oauth-button.naver-white {
    border-radius: 8px;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    font-family: '나눔바른고딕 Bold', sans-serif;
    font-size: 14pt;
    font-weight: 900;
}

.oauth-button.naver-white {
    background-color: #FFFFFF;
    border-color: #d7d7d7;
}