.lbtn {
    flex-direction: row;
    font-size: 14pt;
    font-weight: 900;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    height: 64px;
    flex: initial;
    font-family: '나눔바른고딕 Bold', 'Roboto', sans-serif;
    margin: 10px;
    width: 300px;
}

.lbtn.lbtn-flat {
    border-radius: 2px;
    flex-direction: row;
    font-family: '나눔바른고딕 Bold', 'Roboto', sans-serif;
    font-size: 14pt;
}

.lbtn.short {
    width: 150px;
}

.lbtn.full {
    width: 300px;
}

.lbtn .logo {
    width: 64px;
    flex: initial;
    display: flex;
    position: relative;
    background-color: inherit;
}

.lbtn .label {
    text-align: center;
    flex: 1;
    margin: 0;
    align-items: center;
    justify-content: center;
    border-left: 1px solid;
    display: flex;
    border-color: inherit;
}

.lbtn.lbtn-flat .label {
    border-left: none;
}

.lbtn.logo-only {
    width: 64px;
}

/* theme */
.lbtn.lbtn-naver {
    color: #ffffff;
    background-color: #1ec800;
    border-color: #1eb400;
}

.lbtn.lbtn-naver-white {
    color: #1ec800;
    background-color: #ffffff;
    border-color: #d7d7d7;
}
.lbtn.lbtn-naver-white .label {
    color: #999;
    border-color: inherit;
}

.lbtn.lbtn-google {
    color: #ffffff;
    background-color: #ea4335;
    border-color: #d42616;
}
.lbtn.lbtn-google-white {
    color: #ea4335;
    background-color: #ffffff;
    border-color: #d7d7d7;
}

.lbtn.lbtn-kakao {
    color: #3c1e1e;
    background-color: #ffeb00;
    border-color: #ccbb00;
}

.lbtn.lbtn-kakao-white {
    color: #3c1e1e;
    background-color: #ffffff;
    border-color: #d7d7d7;
}

.lbtn.lbtn-facebook {
    color: #ffffff;
    background-color: #3c5a99;
    border-color: #3c4a99;
}
.lbtn.lbtn-facebook-white {
    color: #3c5a99;
    background-color: #ffffff;
    border-color: #d7d7d7;
}

.lbtn.lbtn-twitter {
    color: #ffffff;
    background-color: #1da1f2;
    border-color: #1d91f2;
}
.lbtn.lbtn-twitter-white {
    color: #1da1f2;
    background-color: #ffffff;
    border-color: #d7d7d7;
}

.lbtn.lbtn-github {
    color: #ffffff;
    background-color: #1a1414;
    border-color: #1a1314;
}
.lbtn.lbtn-github-white {
    color: #1a1414;
    background-color: #ffffff;
    border-color: #d7d7d7;
}
/* logo */
.lbtn.lbtn-naver .logo {
    -webkit-mask: url(logo/naver.svg) no-repeat center;
}
.lbtn.lbtn-naver-white .logo {
    -webkit-mask: url(logo/naver.svg) no-repeat center;
}

.lbtn.lbtn-google .logo {
    -webkit-mask: url(logo/google.svg) no-repeat center;
}
.lbtn.lbtn-google-white .logo {
    -webkit-mask: url(logo/google.svg) no-repeat center;
}

.lbtn.lbtn-kakao .logo{
    -webkit-mask: url(logo/kakao.svg) no-repeat center;
}
.lbtn.lbtn-kakao-white .logo {
    -webkit-mask: url(logo/kakao.svg) no-repeat center;
}

.lbtn.lbtn-facebook .logo {
    -webkit-mask: url(logo/facebook.svg) no-repeat center;
}
.lbtn.lbtn-facebook-white .logo {
    -webkit-mask: url(logo/facebook.svg) no-repeat center;
}

.lbtn.lbtn-twitter .logo {
    -webkit-mask: url(logo/twitter.svg) no-repeat center;
}
.lbtn.lbtn-twitter-white .logo {
    -webkit-mask: url(logo/twitter.svg) no-repeat center;
}

.lbtn.lbtn-github .logo {
    -webkit-mask: url(logo/github.svg) no-repeat center;
}
.lbtn.lbtn-github-white .logo {
    -webkit-mask: url(logo/github.svg) no-repeat center;
}

.lbtn .logo {
    background-color: currentColor;
}