/* theme */
.lbtn.lbtn-facebook {
    color: #ffffff;
    background-color: #3c5a99;
    border-color: #516184;
}
.lbtn.lbtn-facebook.white {
    color: #3c5a99;
    background-color: #ffffff;
    border-color: #d7d7d7;
}

/* logo */
.lbtn.lbtn-facebook .logo {
    background: url(../logo/facebook.svg);
}
.lbtn.lbtn-facebook.lbtn-fallback .logo {
    background: url(../logo/facebook.png);
}