/* theme */
.lbtn.lbtn-instagram {
    color: #ffffff;
    background-color: #e53c5c;
    border-color: #ce536a;
}

.lbtn.lbtn-instagram:not(.short) {
    font-size: 12pt;
}

.lbtn.lbtn-instagram.white {
    color: #e53c5c;
    background-color: #ffffff;
    border-color: #d7d7d7;
}

/* logo */
.lbtn.lbtn-instagram .logo {
    background: url(../logo/instagram.svg);
}
.lbtn.lbtn-instagram.lbtn-fallback-svg .logo {
    background: url(../logo/instagram.png);
}