/* theme */
.lbtn.lbtn-kakao {
    color: #3c1e1e;
    background-color: #ffeb00;
    border-color: #e5d419;
}
.lbtn.lbtn-kakao.white {
    color: #3c1e1e;
    background-color: #ffffff;
    border-color: #d7d7d7;
}

/* logo */
.lbtn.lbtn-kakao .logo {
    font-icon: url(../../logo/kakao.svg);
}

/* filter cancel */
.lbtn:not(.white).lbtn-kakao .logo{
    filter: none;
}