/* theme */
.lbtn.lbtn-naver {
    color: #ffffff;
    background-color: #1ec800;
    border-color: #29a011;
}

.lbtn.lbtn-naver.white {
    color: #1ec800;
    background-color: #ffffff;
    border-color: #d7d7d7;
}
.lbtn.lbtn-naver.white .label {
    color: #999;
    border-color: inherit;
}

/* logo */
.lbtn.lbtn-naver .logo::before {
    content: "\E008";
}

.lbtn.lbtn-naver.white .logo {
    color: #1ec800;
}