/* theme */
.lbtn.lbtn-pinterest {
    color: #ffffff;
    background-color: #BD081C;
    border-color: #ab1b2c;
}
.lbtn.lbtn-pinterest.white {
    color: #BD081C;
    background-color: #ffffff;
    border-color: #d7d7d7;
}

/* logo */
.lbtn.lbtn-pinterest .logo::before {
    font-icon: url(../../logo/pinterest.svg);
}

.lbtn.lbtn-pinterest.white .logo {
    color: #BD081C;
}