/* theme */
.lbtn.lbtn-slack {
    color: #ffffff;
    background-color: #78D4B6;
    border-color: #89c2af;
}

.lbtn.lbtn-slack.white {
    color: #78D4B6;
    background-color: #ffffff;
    border-color: #d7d7d7;
}

/* logo */
.lbtn.lbtn-slack .logo {
    background: url(../logo/slack.svg);
}
.lbtn.lbtn-slack.lbtn-fallback-svg .logo {
    background: url(../logo/slack.png);
}