/* theme */
.lbtn.lbtn-steam {
    color: #ffffff;
    background-color: #221e1f;
    border-color: #212121;
}
.lbtn.lbtn-steam.white {
    color: #221e1f;
    background-color: #ffffff;
    border-color: #d7d7d7;
}

/* logo */
.lbtn.lbtn-steam .logo::before {
    font-icon: url(../../logo/steam.svg);
}

.lbtn.lbtn-steam.white .logo {
    color: #221e1f;
}