/* theme */
.lbtn.lbtn-telegram {
    color: #ffffff;
    background-color: #37AEE2;
    border-color: #4da5cb;
}
.lbtn.lbtn-telegram.white {
    color: #37AEE2;
    background-color: #ffffff;
    border-color: #d7d7d7;
}

/* logo */
.lbtn.lbtn-telegram .logo::before {
    content: "\E00C";
    font-size: 2em;
}

.lbtn.lbtn-telegram.white .logo {
    color: #37AEE2;
}