@charset "UTF-8";

@font-face {
    font-family: 'oauth-buttons';
    src:  url('../fonts/oauth-buttons.eot?b6a5iy');
    src:  url('../fonts/oauth-buttons.eot?b6a5iy#iefix') format('embedded-opentype'),
      url('../fonts/oauth-buttons.ttf?b6a5iy') format('truetype'),
      url('../fonts/oauth-buttons.woff?b6a5iy') format('woff'),
      url('../fonts/oauth-buttons.svg?b6a5iy#oauth-buttons') format('svg');
    font-weight: normal;
    font-style: normal;
  }

.lbtn {
    flex-direction: row;
    font-size: 14pt;
    font-weight: 900;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    height: 64px;
    flex: initial;
    font-family: '나눔바른고딕 Bold', 'Roboto', sans-serif;
    margin: 10px;
    width: 300px;
}

.lbtn.lbtn-flat {
    border-radius: 2px;
    flex-direction: row;
    font-family: '나눔바른고딕 Bold', 'Roboto', sans-serif;
    font-size: 14pt;
}

.lbtn.short {
    width: 150px;
}

.lbtn.full {
    width: 300px;
}

.lbtn .logo {
    width: 64px;
    flex: initial;
    display: flex;
    position: relative;
    background-color: inherit;
    font-family: 'oauth-buttons';
    font-weight: normal;
    font-style: normal;
}

.lbtn .label {
    text-align: center;
    flex: 1;
    margin: 0;
    align-items: center;
    justify-content: center;
    border-left: 1px solid;
    display: flex;
    border-color: inherit;
}

.lbtn.lbtn-flat .label {
    border-left: none;
}

.lbtn.logo-only {
    width: 64px;
}

.lbtn .logo {
    background-color: currentColor;
}